.filter-news {
  display: flex;

  &__button-filter {
    background-color: #fff;
    width: 50px;
    height: 56px;
    border: solid 1px rgb(31, 39, 82);
    box-shadow: none;

    &:deep(.mdi-filter) {
      color: rgb(31, 39, 82);
    }
  }
}
