.news-card {
  padding-bottom: 12px;
  box-shadow: 0px 0px 23px 7px #ddd;
  margin-bottom: 16px;

  &__title {
    cursor: pointer;
  }
  &__img {
    cursor: pointer;
    height: 150px;
    > img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    display: inline-block;
  }

  &__date {
    font-size: 12px;
    font-weight: bold;
    color: rgb(193, 192, 192);
  }

  &__read {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: rgb(95 103 148);
  }

  &__footer {
    display: flex;
    margin-top: 16px;
    padding: 0 16px;
    justify-content: space-between;
  }

  &__go {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 62px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &__edit {
    position: absolute;
    z-index: 100;
    font-size: 24px;
    left: 0;
    top: 62px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #fff;
  }
}
