.news-card {
  padding-bottom: 12px;
  &.v-card {
    margin: 12px 4px;
  }

  .v-img__img {
    transform: scale(1);
  }

  &:hover {
    .v-img__img {
      transition: transform 0.3s ease-out;
      transform: scale(1.1);
    }
  }

  &__title {
    cursor: pointer;
    font-weight: bold;
  }
  &__img {
    cursor: pointer;
    height: 150px;
    > img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    display: inline-block;
    width: 100%;
    white-space: normal;
    height: 60px;
  }

  &__date {
    font-size: 12px;
    font-weight: bold;
    color: rgb(193, 192, 192);
  }

  &__read {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: rgb(95 103 148);
  }

  &__footer {
    display: flex;
    margin-top: 16px;
    padding: 0 16px;
    justify-content: space-between;
  }

  &__edit {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 126px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #fff;
  }
}
